@using AzureAspNetCore.Areas.Admin.Models
@model AzureAspNetCore.Areas.Admin.Models.UserView
@{
    Layout = "_Layout";
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Редактирование пользователя</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" asp-action="User">
                        <div asp-validation-summary="ModelOnly" class="alert-danger text-danger"></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="UserName"></label>
                                <input type="text" value="@Model.UserName" asp-for="UserName">
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Email"></label>
                                <input type="text" value="@Model.Email" asp-for="Email">
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="PhoneNumber"></label>
                                <input type="text" value="@Model.PhoneNumber" asp-for="PhoneNumber">
                                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Roles"></label>
                                @{
                                    for (var i = 0; i < Model.Roles.Count; i++)
                                    {
                                        <div class="custom-control custom-checkbox">
                                            <input asp-for="@Model.Roles[i].IsEnable" class="custom-control-input" type="checkbox" id="customCheckbox" checked="@Model.Roles[i].IsEnable">
                                            <label asp-for="@Model.Roles[i].IsEnable" for="customCheckbox" class="custom-control-label">@Model.Roles[i].Name</label>
                                            <input type="hidden" asp-for="@Model.Roles[i].Id" />
                                            <input type="hidden" asp-for="@Model.Roles[i].Name" />
                                        </div>
                                    }
                                }
                                <span asp-validation-for="Roles" class="text-danger"></span>
                            </div>
                            @if (string.IsNullOrEmpty(Model.Id))
                            {
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input type="password" name="password" asp-for="Password">
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                            }
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

                