@model AzureAspNetCore.Areas.Admin.Models.ProductView

@{
    Layout = "_Layout";
}

@section Styles
{
    <link href="~/css/lightbox.min.css" rel="stylesheet" />
}

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Редактирование продукции</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form role="form" asp-action="Product" enctype="multipart/form-data">
                        <div asp-validation-summary="ModelOnly" class="alert-danger text-danger"></div>
                        <div class="card-body">
                            <div class="form-group">
                                <label asp-for="Name"></label>
                                <input type="text" value="@Model.Name" asp-for="Name">
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Order"></label>
                                <input type="number" value="@Model.Order" asp-for="Order">
                                <span asp-validation-for="Order" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Price"></label>
                                <input type="number" value="@Model.Price" asp-for="Price" step=".01">
                                <span asp-validation-for="Price" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ImageUrl"></label>
                                <input type="file" asp-for="ImageUrl" accept=".jpg, .jpeg, .png" name="formFile" onchange="document.getElementById('output').src = window.URL.createObjectURL(this.files[0]); document.getElementById('bigImg').href = window.URL.createObjectURL(this.files[0]);">
                                <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                <a id="bigImg" href="~/images/shop/@Model.ImageUrl"> <img id="output" src="~/images/shop/@Model.ImageUrl" style="max-width: 100px; max-height: 100px" alt="" /> </a>
                            </div>
                            <div class="form-group">
                                <label asp-for="BrandId"></label>
                                <select asp-for="BrandId" asp-items="ViewBag.Brands">
                                    @*@foreach (var elem in ViewBag.Brands)
                                    {
                                        if (elem.Id == @Model.Brand.Id)
                                        {
                                            <option value="@elem" selected>@elem.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@elem">@elem</option>
                                        }
                                    }*@
                                </select>
                                <span asp-validation-for="BrandId" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="SectionId"></label>
                                <select asp-for="SectionId" asp-items="ViewBag.Sections">
                                    @*@foreach (var elem in ViewBag.Sections)
                                    {
                                        if (elem.Id == @Model.Section.Id)
                                        {
                                            <option value="@elem" selected>@elem.Name</option>
                                        }
                                        else
                                        {
                                            <option value="@elem">@elem</option>
                                        }
                                    }*@
                                </select>
                                <span asp-validation-for="SectionId" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- /.card-body -->

                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script src="~/js/lightbox.js"></script>
    <script src="~/js/lightbox-plus-jquery.min.js"></script>
    <script>
        // Картинка
        lightbox.option({
            'resizeDuration': 4000,
            'wrapAround': true
        })
    </script>


}